<body>
    @using (Html.BeginForm("Loggin", "Home", FormMethod.Post, new { @role = "form", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div id="login">
            <h3 class="text-center text-white pt-5">Bem-Vindo</h3>
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">

                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label class="text-info">Username:</label><br>
                                <input type="text" name="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-info">Password:</label><br>
                                <input type="password" name="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <button class="btn-info" type="submit">Entrar</button>
                                <a href="@Url.Action("Registar","Home")">Ainda não se encontra registado?</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</body>