

@using System.Configuration;


@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;


@{
    ViewBag.Title = "Home Page";
}
<h3> Por favor arraste o marcador para a sua localização</h3>
@using (Html.BeginForm("Maps", "Home", FormMethod.Post, new { @role = "form", @class = "form-horizontal", enctype = "multipart/form-data", @id = "form" }))
{
    @Html.Hidden("latitude", "");
    @Html.Hidden("longitude", "");
    <style>
        #map {
            height: 500px;
        }
    </style>
    <br />
    <br />
    <div id="map"></div>

    <script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 41.295898, lng: -7.746350 },
            zoom: 12
        });
        //For Dhaka U
        var markerBracU = new google.maps.Marker({
            position: { lat: 41.295898, lng: -7.746350 },
            map: map,
            draggable: true
        });
        google.maps.event.addListener(markerBracU, 'dragend', function () {

            var lat = markerBracU.getPosition().lat();
            var lng = markerBracU.getPosition().lng();
            $('#latitude').val(lat);
            $('#longitude').val(lng);
            ////document.write(lat);
            @*$.post("@Url.Action("Validar", "Home")", { latitude: lat, longitude: lng }, function (data) { }*@

        })
        var contentStringBracU = '';
        var infowindowForBracU = new google.maps.InfoWindow({
            content: contentStringBracU
        });
        markerBracU.addListener('mouseover', function () {
            infowindowForBracU.open(map, markerBracU);
        });
        markerBracU.addListener('mouseout', function () {
            infowindowForBracU.close();
        });



    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH_-WcTML8gEv6pExB-eJlzTrCVpKYnXo&callback=initMap"
            async defer>


    </script>
    //AIzaSyDH_-WcTML8gEv6pExB-eJlzTrCVpKYnXo
    <br /><button class="btn-info" type="submit">Registar localização</button>
}

    